<ion-header>
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  Lorem, ipsum dolor sit amet consectetur adipisicing elit. Optio veritatis hic voluptatem? Fugiat laudantium ea consectetur quia amet tempora dignissimos deleniti. Expedita, voluptates. Quidem esse explicabo itaque magni atque ipsum vero, error quisquam minima placeat ea deleniti possimus deserunt necessitatibus illo ipsam pariatur praesentium ab. Dignissimos exercitationem autem dolorum natus cumque dolore repellendus tempora. Ipsum sunt minus expedita veniam ea molestiae blanditiis totam, nesciunt et, quam unde quidem vero velit magni deleniti optio earum inventore dolore placeat? Debitis modi ducimus quidem. Nam necessitatibus ea deleniti inventore expedita esse beatae fugit, aliquid culpa natus ratione, fugiat, totam accusamus? Quo, suscipit repellendus.
</ion-content>
